openapi: 3.0.3
info:
  title: DietIntel Food Vision API
  description: |
    API integrada para análisis visual de alimentos que aprovecha infraestructura existente.

    ## Características principales:
    - 📸 Análisis de imágenes integrado con Recipe AI existente
    - 🔍 Identificación automática de recetas preparadas
    - ⚖️ Estimación precisa basada en receta conocida
    - 🏃‍♂️ Sugerencias de ejercicio complementario sin dispositivos
    - 📚 Análisis nutricional educativo con contexto
    - 🔄 Sistema de corrección simple para mejora progresiva

    ## Flujos soportados:
    1. **Recipe AI → Foto → Tracking**: Flujo integrado receta→análisis→registro
    2. **Análisis visual inteligente**: Identificación precisa de ingredientes
    3. **Sugerencias ejercicio**: Cálculo déficit calórico + actividades específicas
    4. **Corrección simple**: Usuario ajusta → Sistema aprende → Mejora futura
    5. **Historial paginado**: Seguimiento análisis previos

  version: 1.0.0
  contact:
    name: DietIntel API Support
    email: api-support@dietintel.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.dietintel.com
    description: Production server
  - url: https://staging-api.dietintel.com
    description: Staging server
  - url: http://localhost:8000
    description: Development server

security:
  - bearerAuth: []

paths:
  /food/vision-log:
    post:
      operationId: createVisionLog
      summary: Registrar comida mediante análisis de imagen
      description: |
        Analiza una imagen de comida y estima automáticamente ingredientes, porciones y valores nutricionales.

        **Proceso de análisis:**
        1. **Validación**: Verifica formato y tamaño de imagen
        2. **Identificación**: Detecta ingredientes mediante visión AI
        3. **Estimación**: Calcula porciones basado en marcadores visuales
        4. **Nutrición**: Calcula calorías y macros usando base de datos
        5. **Ejercicio**: Sugiere actividades físicas complementarias (si aplica)
        6. **Almacenamiento**: Guarda análisis para historial y aprendizaje

        **Tipos de respuesta:**
        - `200`: Análisis exitoso con alta confianza (>70%)
        - `201`: Análisis exitoso con sugerencias de ejercicio
        - `202`: Análisis completado pero requiere revisión manual (<70% confianza)
        - `400`: Datos de imagen inválidos
        - `413`: Imagen demasiado grande (>10MB)
        - `500`: Error interno del servidor

      tags:
        - Food Vision
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
                - image
              properties:
                image:
                  type: string
                  format: binary
                  description: |
                    Imagen de la comida a analizar.

                    **Requisitos técnicos:**
                    - Formatos soportados: JPEG, PNG, WebP
                    - Tamaño máximo: 10MB
                    - Dimensiones recomendadas: 1024x1024 o superior
                    - Iluminación: Buena para mejores resultados

                    **Consejos para mejores resultados:**
                    - Foto cenital (desde arriba)
                    - Incluye plato completo visible
                    - Buena iluminación natural
                    - Evita sombras fuertes
                  example: "data:image/jpeg;base64,/9j/4AAQSkZJRgABA..."
                meal_type:
                  type: string
                  enum: [breakfast, lunch, dinner]
                  default: lunch
                  description: |
                    Tipo de comida para contextualizar el análisis.

                    - `breakfast`: Comidas matutinas (cereal, huevos, frutas)
                    - `lunch`: Comidas principales del mediodía
                    - `dinner`: Comidas principales de la noche

                    Este contexto ayuda al sistema a mejorar la precisión de identificación.
                user_context:
                  type: object
                  description: |
                    Información adicional del usuario para personalizar sugerencias.

                    **Campos opcionales:**
                    - `current_weight_kg`: Peso actual en kg (para cálculos de ejercicio)
                    - `activity_level`: Nivel de actividad física
                    - `goal`: Objetivo nutricional ("lose_weight", "maintain", "gain_weight")
                  properties:
                    current_weight_kg:
                      type: number
                      minimum: 30
                      maximum: 300
                      example: 70
                    activity_level:
                      type: string
                      enum: [sedentary, lightly_active, moderately_active, very_active, extra_active]
                      example: moderately_active
                    goal:
                      type: string
                      enum: [lose_weight, maintain, gain_weight]
                      example: maintain

      responses:
        '200':
          description: Análisis exitoso con identificación precisa
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisionLogResponse'
              example:
                id: "vision_20250107_143000_abc123"
                user_id: "user_456"
                image_url: "https://cdn.dietintel.com/vision/vision_20250107_143000_abc123.jpg"
                meal_type: "lunch"
                identified_ingredients:
                  - name: "chicken_breast"
                    category: "protein"
                    estimated_grams: 150
                    confidence_score: 0.85
                    visual_markers: ["skin_color", "texture_fibrous"]
                    nutrition_per_100g:
                      calories: 165
                      protein_g: 31
                      fat_g: 3.6
                      carbs_g: 0
                  - name: "brown_rice"
                    category: "carbohydrate"
                    estimated_grams: 100
                    confidence_score: 0.90
                    visual_markers: ["grain_shape", "brown_color"]
                    nutrition_per_100g:
                      calories: 112
                      protein_g: 2.3
                      fat_g: 0.9
                      carbs_g: 23
                estimated_portions:
                  total_calories: 359
                  total_protein_g: 48.8
                  total_fat_g: 6.3
                  total_carbs_g: 23
                  confidence_score: 0.87
                nutritional_analysis:
                  total_calories: 359
                  macro_distribution:
                    protein_percent: 54
                    fat_percent: 16
                    carbs_percent: 26
                  food_quality_score: 0.82
                  health_benefits:
                    - "High protein content supports muscle maintenance"
                    - "Complex carbohydrates provide sustained energy"
                    - "Low fat content promotes heart health"
                exercise_suggestions: []
                created_at: "2025-01-07T14:30:00Z"
                processing_time_ms: 2100

        '201':
          description: Análisis completado con sugerencias de ejercicio
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisionLogWithExerciseResponse'
              example:
                id: "vision_20250107_143000_def456"
                user_id: "user_456"
                image_url: "https://cdn.dietintel.com/vision/vision_20250107_143000_def456.jpg"
                meal_type: "lunch"
                identified_ingredients:
                  - name: "salmon"
                    category: "protein"
                    estimated_grams: 120
                    confidence_score: 0.88
                    nutrition_per_100g:
                      calories: 208
                      protein_g: 22
                      fat_g: 13
                      carbs_g: 0
                estimated_portions:
                  total_calories: 250
                  total_protein_g: 26.4
                  total_fat_g: 15.6
                  total_carbs_g: 0
                  confidence_score: 0.88
                nutritional_analysis:
                  total_calories: 250
                  macro_distribution:
                    protein_percent: 42
                    fat_percent: 56
                    carbs_percent: 0
                  food_quality_score: 0.78
                  health_benefits:
                    - "Excellent source of omega-3 fatty acids"
                    - "High-quality protein for muscle repair"
                exercise_suggestions:
                  - activity_type: "walking"
                    duration_minutes: 45
                    estimated_calories_burned: 180
                    intensity_level: "moderate"
                    reasoning: "Complementa ingesta calórica con actividad cardiovascular moderada"
                    health_benefits:
                      - "Improves cardiovascular health"
                      - "Supports weight management goals"
                      - "Enhances mood and reduces stress"
                  - activity_type: "swimming"
                    duration_minutes: 30
                    estimated_calories_burned: 220
                    intensity_level: "moderate"
                    reasoning: "Actividad de bajo impacto ideal para recuperación activa"
                    health_benefits:
                      - "Full-body workout with joint protection"
                      - "Improves lung capacity and endurance"
                calorie_balance:
                  consumed_calories: 250
                  target_calories: 2200
                  calorie_deficit: 1950
                  exercise_needed: true
                  balance_status: "under_target"
                created_at: "2025-01-07T14:30:00Z"
                processing_time_ms: 2300

        '202':
          description: Análisis completado pero requiere corrección manual
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LowConfidenceVisionResponse'
              example:
                id: "vision_20250107_143000_ghi789"
                confidence_score: 0.45
                partial_identification:
                  - name: "mixed_ingredients"
                    category: "unknown"
                    estimated_grams: 200
                    confidence_score: 0.45
                    visual_markers: ["color_variation", "mixed_textures"]
                suggested_corrections:
                  - "Consider taking photo from directly above"
                  - "Ensure good lighting conditions"
                  - "Try to separate ingredients for better identification"
                  - "Manual entry may be more accurate for this meal"
                requires_manual_review: true
                created_at: "2025-01-07T14:30:00Z"

        '400':
          description: Datos de imagen inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              examples:
                invalid_format:
                  summary: Formato de imagen no soportado
                  value:
                    error: "Invalid image format"
                    detail: "File must be an image (JPEG, PNG, etc.)"
                    error_code: "INVALID_IMAGE_FORMAT"
                missing_image:
                  summary: Imagen requerida no proporcionada
                  value:
                    error: "Image required"
                    detail: "Image file is required for vision analysis"
                    error_code: "MISSING_IMAGE"

        '413':
          description: Imagen demasiado grande
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Image too large"
                detail: "Image file too large (max 10MB)"
                error_code: "IMAGE_TOO_LARGE"

        '500':
          description: Error interno del servidor
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error: "Internal server error"
                detail: "Error processing image with vision analysis"
                error_code: "VISION_PROCESSING_ERROR"

  /food/vision-history:
    get:
      operationId: getVisionHistory
      summary: Obtener historial de análisis de visión
      description: |
        Recupera el historial de análisis de visión del usuario autenticado.

        **Características:**
        - Paginación eficiente para grandes volúmenes de datos
        - Filtros por fecha para análisis específicos
        - Información nutricional resumida por período
        - Estadísticas de precisión y mejora continua

      tags:
        - Food Vision
      security:
        - bearerAuth: []
      parameters:
        - name: limit
          in: query
          description: Número máximo de registros a devolver
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
        - name: offset
          in: query
          description: Número de registros a saltar (para paginación)
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
        - name: date_from
          in: query
          description: Fecha de inicio para filtrar análisis (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
            example: "2025-01-01"
        - name: date_to
          in: query
          description: Fecha de fin para filtrar análisis (YYYY-MM-DD)
          required: false
          schema:
            type: string
            format: date
            example: "2025-01-07"
        - name: min_confidence
          in: query
          description: Filtrar análisis con confianza mínima
          required: false
          schema:
            type: number
            minimum: 0.0
            maximum: 1.0
            example: 0.7

      responses:
        '200':
          description: Historial obtenido exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  logs:
                    type: array
                    items:
                      $ref: '#/components/schemas/VisionLogSummary'
                    description: Lista de análisis de visión
                  total_count:
                    type: integer
                    description: Número total de análisis disponibles
                  has_more:
                    type: boolean
                    description: Indica si hay más páginas disponibles
                  summary_stats:
                    $ref: '#/components/schemas/VisionHistoryStats'
                example:
                  logs:
                    - id: "vision_20250107_143000_abc123"
                      meal_type: "lunch"
                      total_calories: 359
                      confidence_score: 0.87
                      identified_ingredients_count: 3
                      has_exercise_suggestions: false
                      created_at: "2025-01-07T14:30:00Z"
                    - id: "vision_20250107_120000_def456"
                      meal_type: "breakfast"
                      total_calories: 285
                      confidence_score: 0.92
                      identified_ingredients_count: 2
                      has_exercise_suggestions: true
                      created_at: "2025-01-07T12:00:00Z"
                  total_count: 15
                  has_more: true
                  summary_stats:
                    average_confidence: 0.84
                    total_analyses: 15
                    average_calories: 312
                    most_common_meal_type: "lunch"

        '401':
          description: Token de autenticación inválido o expirado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

  /food/vision-log/{log_id}/correct:
    put:
      operationId: correctVisionLog
      summary: Corregir análisis previo de visión
      description: |
        Permite a los usuarios corregir análisis previos para mejorar la precisión futura del sistema.

        **Tipos de corrección:**
        - `portion_correction`: Ajustar estimación de porciones
        - `ingredient_misidentification`: Corregir identificación errónea de ingredientes
        - `missing_ingredient`: Añadir ingrediente no detectado

        **Proceso de aprendizaje:**
        1. Almacenar corrección con contexto completo
        2. Actualizar modelo de aprendizaje para casos similares
        3. Mejorar precisión en análisis futuros
        4. Proporcionar retroalimentación al usuario sobre mejora

      tags:
        - Food Vision
      security:
        - bearerAuth: []
      parameters:
        - name: log_id
          in: path
          required: true
          description: ID del análisis a corregir
          schema:
            type: string
            example: "vision_20250107_143000_abc123"

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - correction_type
              properties:
                correction_type:
                  type: string
                  enum: [portion_correction, ingredient_misidentification, missing_ingredient]
                  description: Tipo de corrección a aplicar
                corrected_portions:
                  type: object
                  description: Datos de corrección de porciones (requerido para portion_correction)
                  properties:
                    ingredient_name:
                      type: string
                      description: Nombre del ingrediente a corregir
                    estimated_grams:
                      type: number
                      description: Cantidad estimada originalmente
                    actual_grams:
                      type: number
                      description: Cantidad real según el usuario
                ingredient_corrections:
                  type: array
                  description: Lista de correcciones de ingredientes (requerido para ingredient_misidentification)
                  items:
                    type: object
                    properties:
                      original_name:
                        type: string
                        description: Nombre identificado incorrectamente
                      correct_name:
                        type: string
                        description: Nombre correcto del ingrediente
                      correct_category:
                        type: string
                        description: Categoría correcta
                missing_ingredients:
                  type: array
                  description: Ingredientes no detectados (requerido para missing_ingredient)
                  items:
                    type: object
                    properties:
                      name:
                        type: string
                      category:
                        type: string
                      actual_grams:
                        type: number
                correction_notes:
                  type: string
                  description: Notas adicionales del usuario sobre la corrección
                  maxLength: 500

            examples:
              portion_correction:
                summary: Corrección de porción estimada
                value:
                  correction_type: "portion_correction"
                  corrected_portions:
                    ingredient_name: "chicken_breast"
                    estimated_grams: 150
                    actual_grams: 180
                  correction_notes: "La pechuga era más grande de lo estimado"

              ingredient_misidentification:
                summary: Corrección de identificación de ingrediente
                value:
                  correction_type: "ingredient_misidentification"
                  ingredient_corrections:
                    - original_name: "pasta"
                      correct_name: "quinoa"
                      correct_category: "grain"
                  correction_notes: "Era quinoa, no pasta"

              missing_ingredient:
                summary: Ingrediente no detectado
                value:
                  correction_type: "missing_ingredient"
                  missing_ingredients:
                    - name: "olive_oil"
                      category: "fat"
                      actual_grams: 15
                  correction_notes: "El aceite de oliva no fue detectado en la imagen"

      responses:
        '200':
          description: Corrección aplicada exitosamente
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: "Corrección aplicada exitosamente. Gracias por ayudar a mejorar el sistema."
                  improvement_score:
                    type: number
                    description: Puntuación de mejora aplicada al modelo
                    example: 0.15
                  estimated_future_improvement:
                    type: string
                    example: "Esta corrección mejorará la precisión en un 15% para casos similares"
                example:
                  success: true
                  message: "Corrección aplicada exitosamente. Gracias por ayudar a mejorar el sistema."
                  improvement_score: 0.15
                  estimated_future_improvement: "Esta corrección mejorará la precisión en un 15% para casos similares"

        '400':
          description: Datos de corrección inválidos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        '404':
          description: Análisis de visión no encontrado
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

        '401':
          description: Usuario no autorizado para corregir este análisis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

components:
  schemas:
    VisionLogResponse:
      type: object
      description: Respuesta completa de análisis de visión exitoso
      required:
        - id
        - user_id
        - identified_ingredients
        - estimated_portions
        - created_at
      properties:
        id:
          type: string
          description: ID único del análisis de visión
          example: "vision_20250107_143000_abc123"
        user_id:
          type: string
          description: ID del usuario que realizó el análisis
          example: "user_456"
        image_url:
          type: string
          description: URL de la imagen analizada (si se almacenó)
          example: "https://cdn.dietintel.com/vision/vision_20250107_143000_abc123.jpg"
        meal_type:
          type: string
          enum: [breakfast, lunch, dinner]
          description: Tipo de comida identificada
          example: "lunch"
        identified_ingredients:
          type: array
          items:
            $ref: '#/components/schemas/IdentifiedIngredient'
          description: Lista detallada de ingredientes identificados
        estimated_portions:
          type: object
          description: Estimación completa de porciones y nutrición
          properties:
            total_calories:
              type: number
              description: Calorías totales estimadas
              example: 359
            total_protein_g:
              type: number
              description: Proteína total en gramos
              example: 48.8
            total_fat_g:
              type: number
              description: Grasa total en gramos
              example: 6.3
            total_carbs_g:
              type: number
              description: Carbohidratos totales en gramos
              example: 23
            confidence_score:
              type: number
              minimum: 0.0
              maximum: 1.0
              description: Puntuación de confianza general del análisis
              example: 0.87
        nutritional_analysis:
          $ref: '#/components/schemas/NutritionalAnalysis'
        exercise_suggestions:
          type: array
          items:
            $ref: '#/components/schemas/ExerciseSuggestion'
          description: Sugerencias de ejercicio complementario (si aplica)
        created_at:
          type: string
          format: date-time
          description: Timestamp de creación del análisis
          example: "2025-01-07T14:30:00Z"
        processing_time_ms:
          type: number
          description: Tiempo de procesamiento en milisegundos
          example: 2100

    VisionLogWithExerciseResponse:
      allOf:
        - $ref: '#/components/schemas/VisionLogResponse'
        - type: object
          required:
            - exercise_suggestions
            - calorie_balance
          properties:
            exercise_suggestions:
              type: array
              items:
                $ref: '#/components/schemas/ExerciseSuggestion'
              minItems: 1
              description: Sugerencias de ejercicio personalizadas
            calorie_balance:
              $ref: '#/components/schemas/CalorieBalance'

    LowConfidenceVisionResponse:
      type: object
      description: Respuesta cuando el análisis tiene baja confianza
      required:
        - id
        - confidence_score
        - partial_identification
        - requires_manual_review
        - created_at
      properties:
        id:
          type: string
          description: ID único del análisis
          example: "vision_20250107_143000_ghi789"
        confidence_score:
          type: number
          minimum: 0.0
          maximum: 0.7
          description: Puntuación de confianza baja
          example: 0.45
        partial_identification:
          type: array
          items:
            $ref: '#/components/schemas/IdentifiedIngredient'
          description: Identificación parcial lograda
        suggested_corrections:
          type: array
          items:
            type: string
          description: Sugerencias para mejorar futuros análisis
          example:
            - "Consider taking photo from directly above"
            - "Ensure good lighting conditions"
        requires_manual_review:
          type: boolean
          description: Indica si se requiere revisión manual
          example: true
        created_at:
          type: string
          format: date-time
          example: "2025-01-07T14:30:00Z"

    IdentifiedIngredient:
      type: object
      description: Ingrediente identificado en la imagen
      properties:
        name:
          type: string
          description: Nombre del ingrediente identificado
          example: "chicken_breast"
        category:
          type: string
          enum: [protein, carbohydrate, fat, vegetable, fruit, dairy, grain, legume]
          description: Categoría nutricional del ingrediente
          example: "protein"
        estimated_grams:
          type: number
          minimum: 0
          description: Cantidad estimada en gramos
          example: 150
        confidence_score:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Confianza en la identificación de este ingrediente
          example: 0.85
        visual_markers:
          type: array
          items:
            type: string
          description: Características visuales que llevaron a la identificación
          example: ["skin_color", "texture_fibrous"]
        nutrition_per_100g:
          type: object
          description: Información nutricional por 100g del ingrediente
          properties:
            calories:
              type: number
              example: 165
            protein_g:
              type: number
              example: 31
            fat_g:
              type: number
              example: 3.6
            carbs_g:
              type: number
              example: 0

    NutritionalAnalysis:
      type: object
      description: Análisis nutricional completo de la comida
      properties:
        total_calories:
          type: number
          description: Calorías totales de la porción analizada
          example: 359
        macro_distribution:
          type: object
          description: Distribución porcentual de macronutrientes
          properties:
            protein_percent:
              type: number
              minimum: 0
              maximum: 100
              example: 54
            fat_percent:
              type: number
              minimum: 0
              maximum: 100
              example: 16
            carbs_percent:
              type: number
              minimum: 0
              maximum: 100
              example: 26
        micronutrients:
          type: object
          description: Micronutrientes detectados (si aplica)
          additionalProperties:
            type: number
        food_quality_score:
          type: number
          minimum: 0.0
          maximum: 1.0
          description: Puntuación general de calidad nutricional
          example: 0.82
        health_benefits:
          type: array
          items:
            type: string
          description: Beneficios para la salud identificados
          example:
            - "High protein content supports muscle maintenance"
            - "Complex carbohydrates provide sustained energy"

    ExerciseSuggestion:
      type: object
      description: Sugerencia de actividad física complementaria
      required:
        - activity_type
        - duration_minutes
        - estimated_calories_burned
        - intensity_level
      properties:
        activity_type:
          type: string
          enum: [walking, running, swimming, cycling, home_exercise]
          description: Tipo de actividad física sugerida
          example: "walking"
        duration_minutes:
          type: number
          minimum: 1
          description: Duración recomendada en minutos
          example: 45
        estimated_calories_burned:
          type: number
          minimum: 0
          description: Calorías estimadas a quemar
          example: 180
        intensity_level:
          type: string
          enum: [low, moderate, high]
          description: Nivel de intensidad de la actividad
          example: "moderate"
        reasoning:
          type: string
          description: Explicación de por qué se sugiere esta actividad
          example: "Complementa ingesta calórica con actividad cardiovascular moderada"
        health_benefits:
          type: array
          items:
            type: string
          description: Beneficios específicos para la salud
          example:
            - "Improves cardiovascular health"
            - "Supports weight management goals"

    CalorieBalance:
      type: object
      description: Balance calórico entre consumo y objetivos
      required:
        - consumed_calories
        - target_calories
        - balance_status
      properties:
        consumed_calories:
          type: number
          description: Calorías consumidas en esta comida
          example: 250
        target_calories:
          type: number
          description: Objetivo calórico diario del usuario
          example: 2200
        calorie_deficit:
          type: number
          description: Diferencia entre objetivo y consumo actual
          example: 1950
        exercise_needed:
          type: boolean
          description: Indica si se necesita ejercicio complementario
          example: true
        balance_status:
          type: string
          enum: [under_target, at_target, over_target]
          description: Estado del balance calórico
          example: "under_target"

    VisionLogSummary:
      type: object
      description: Resumen compacto de análisis de visión para listas
      properties:
        id:
          type: string
          example: "vision_20250107_143000_abc123"
        meal_type:
          type: string
          enum: [breakfast, lunch, dinner]
          example: "lunch"
        total_calories:
          type: number
          example: 359
        confidence_score:
          type: number
          example: 0.87
        identified_ingredients_count:
          type: integer
          example: 3
        has_exercise_suggestions:
          type: boolean
          example: false
        created_at:
          type: string
          format: date-time
          example: "2025-01-07T14:30:00Z"

    VisionHistoryStats:
      type: object
      description: Estadísticas agregadas del historial de análisis
      properties:
        average_confidence:
          type: number
          example: 0.84
        total_analyses:
          type: integer
          example: 15
        average_calories:
          type: number
          example: 312
        most_common_meal_type:
          type: string
          example: "lunch"

    ErrorResponse:
      type: object
      description: Respuesta de error estándar
      required:
        - error
      properties:
        error:
          type: string
          description: Mensaje de error principal
          example: "Invalid image format"
        detail:
          type: string
          description: Detalles adicionales del error
          example: "File must be an image (JPEG, PNG, etc.)"
        error_code:
          type: string
          description: Código de error para manejo programático
          example: "INVALID_IMAGE_FORMAT"

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: |
        Autenticación JWT estándar.

        **Obtención del token:**
        1. Autenticarse en `/auth/login`
        2. Usar el token recibido en el header `Authorization: Bearer <token>`

        **Ejemplo:**
        ```
        Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9...
        ```

  examples:
    recipe_ai_integration_example:
      summary: Integración completa Recipe AI → análisis visual → ejercicio
      description: |
        Ejemplo completo del flujo integrado desde receta generada hasta sugerencias de ejercicio.

        **Contexto**: Usuario generó receta con Recipe AI, la preparó y tomó foto del resultado.
      value:
        id: "vision_20250107_143000_recipe_abc123"
        user_id: "user_456"
        meal_type: "lunch"
        identified_ingredients:
          - name: "chicken_breast"
            category: "protein"
            estimated_grams: 150
            confidence_score: 0.92
            visual_markers: ["grill_marks", "golden_brown", "recipe_match"]
            nutrition_per_100g:
              calories: 165
              protein_g: 31
              fat_g: 3.6
              carbs_g: 0
          - name: "quinoa"
            category: "carbohydrate"
            estimated_grams: 80
            confidence_score: 0.89
            visual_markers: ["grain_shape", "recipe_match"]
            nutrition_per_100g:
              calories: 120
              protein_g: 4.4
              fat_g: 1.9
              carbs_g: 22
        estimated_portions:
          total_calories: 343
          total_protein_g: 50.0
          total_fat_g: 6.9
          total_carbs_g: 17.6
          confidence_score: 0.90
        nutritional_analysis:
          total_calories: 343
          macro_distribution:
            protein_percent: 58
            fat_percent: 18
            carbs_percent: 21
          food_quality_score: 0.88
          health_benefits:
            - "High protein content supports muscle maintenance"
            - "Complete protein from multiple sources"
            - "Balanced macro distribution for sustained energy"
        exercise_suggestions:
          - activity_type: "walking"
            duration_minutes: 35
            estimated_calories_burned: 140
            intensity_level: "moderate"
            reasoning: "Complementa ingesta calórica con actividad cardiovascular moderada"
            health_benefits:
              - "Improves cardiovascular health"
              - "Supports weight management goals"
              - "Enhances mood and reduces stress"
        calorie_balance:
          consumed_calories: 343
          target_calories: 2200
          calorie_deficit: 1857
          exercise_needed: true
          balance_status: "under_target"
        created_at: "2025-01-07T14:30:00Z"
        processing_time_ms: 2100

    successful_vision_analysis:
      summary: Análisis exitoso de imagen clara
      value:
        id: "vision_20250107_143000_abc123"
        user_id: "user_456"
        meal_type: "lunch"
        identified_ingredients:
          - name: "grilled_chicken"
            category: "protein"
            estimated_grams: 150
            confidence_score: 0.92
            visual_markers: ["grill_marks", "golden_brown"]
            nutrition_per_100g:
              calories: 165
              protein_g: 31
              fat_g: 3.6
              carbs_g: 0
        estimated_portions:
          total_calories: 247
          total_protein_g: 46.5
          total_fat_g: 5.4
          total_carbs_g: 0
          confidence_score: 0.92
        nutritional_analysis:
          total_calories: 247
          macro_distribution:
            protein_percent: 75
            fat_percent: 20
            carbs_percent: 0
          food_quality_score: 0.88
          health_benefits:
            - "Excellent source of lean protein"
            - "Low in carbohydrates, suitable for low-carb diets"
        created_at: "2025-01-07T14:30:00Z"
        processing_time_ms: 1800

    exercise_suggestion_example:
      summary: Ejemplo de sugerencia de ejercicio
      value:
        activity_type: "brisk_walking"
        duration_minutes: 40
        estimated_calories_burned: 160
        intensity_level: "moderate"
        reasoning: "Compensa parcialmente el déficit calórico con actividad cardiovascular"
        health_benefits:
          - "Mejora la salud cardiovascular"
          - "Ayuda en el control de peso"
          - "Aumenta el bienestar general"

tags:
  - name: Food Vision
    description: |
      Endpoints para análisis visual de alimentos y estimación de porciones.

      **Características principales:**
      - Análisis de imágenes mediante visión AI
      - Estimación automática de ingredientes y cantidades
      - Cálculo preciso de información nutricional
      - Sugerencias personalizadas de ejercicio
      - Sistema de aprendizaje continuo mediante correcciones

      **Casos de uso típicos:**
      1. Usuario toma foto de su comida
      2. Sistema identifica ingredientes automáticamente
      3. Calcula calorías y macronutrientes precisos
      4. Sugiere ejercicio complementario si es necesario
      5. Registra automáticamente en plan nutricional

  - name: Vision History
    description: |
      Gestión del historial de análisis de visión del usuario.

      **Funcionalidades:**
      - Consulta paginada de análisis previos
      - Filtros por fecha y confianza
      - Estadísticas agregadas de nutrición
      - Seguimiento de mejora de precisión

  - name: Vision Learning
    description: |
      Sistema de corrección y aprendizaje continuo.

      **Proceso de mejora:**
      1. Usuario corrige análisis previos
      2. Sistema almacena correcciones con contexto
      3. Algoritmos de ML mejoran precisión futura
      4. Retroalimentación visible para el usuario

x-tagGroups:
  - name: Core Features
    tags:
      - Food Vision
  - name: Data Management
    tags:
      - Vision History
      - Vision Learning

x-api-category: food-analysis
x-api-version: v1
x-maintainer: DietIntel Backend Team
x-documentation-status: complete
x-implementation-status: planned
x-expected-release: Q1-2025
